<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <div class="dropdown show">
            <a class="btn btn-success dropdown-toggle dropdown-toggle-split" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                Login
            </a>

            <div class="dropdown-menu" style="right: 0; left: auto;">
                <a class="dropdown-item" href="/login" ng-click="main.asAnAdmin()">As Admin</a>
                <a class="dropdown-item" href="/login" ng-click="main.asAnEmpLs()">As Local Store Employee</a>
                <a class="dropdown-item" href="/login" ng-click="main.asAnAEmpTh()">As Transit Hub Employee</a>
            </div>
        </div>

    </div>
</nav>

<div class="container jumbotron text-center">
    <div class="page-header"  >
        <h1>Customer Update</h1>
        <h3>Google API, package tracking, store search and info goes here!!!</h3>

        <br>
        <div id="map_canvas">
            <ui-gmap-google-map center="home.map.center" zoom="home.map.zoom">

                <ui-gmap-window show="home.map.window.show"
                                coords="home.map.window.model"
                                options="home.map.window.options"
                                closeClick="home.map.window.closeClick()">
                    <div>This freakn city is called: {{home.map.window.model.id}}</div>
                </ui-gmap-window>

                <ui-gmap-markers models="home.map.markers"
                                 coords="'self'"
                                 events="home.map.markersEvents">
                </ui-gmap-markers>
                <shape name="polyline" path="{{path}}" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2"></shape>

            </ui-gmap-google-map>
        </div>
    </div>
</div><!-- /.container -->