<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <div class="dropdown show">
            <a class="btn btn-success dropdown-toggle dropdown-toggle-split" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                Login
            </a>

            <div class="dropdown-menu" style="right: 0; left: auto;">
                <a class="dropdown-item" href="/login" ng-click="main.asAnAdmin()">As Admin</a>
                <a class="dropdown-item" href="/login" ng-click="main.asAnEmpLs()">As Local Store Employee</a>
                <a class="dropdown-item" href="/login" ng-click="main.asAnAEmpTh()">As Transit Hub Employee</a>
            </div>
        </div>

    </div>
</nav>

<div class="container jumbotron text-center">
        <h1>Customer Update</h1>
        <h3>Google API, package tracking, store search and info goes here!!!</h3>

        <br>
        <div  id="map_canvas">
            <ui-gmap-google-map center="home.map.center" zoom="home.map.zoom">

                <ui-gmap-window show="home.map.window.show"
                                coords="home.map.window.model"
                                options="home.map.window.options"
                                closeClick="home.map.window.closeClick()">
                    <div><b>City: </b> {{home.map.window.model.name}}
                        <br><b>Address: </b>{{home.map.window.model.street}}
                        {{home.map.window.model.number}}
                    </div>
                </ui-gmap-window>

                <ui-gmap-markers models="home.map.markers"
                                 coords="'self'"
                                 events="home.map.markersEvents"
                                 icon="'icon'"
                                 options="home.map.marker.options">
                </ui-gmap-markers>

                <ui-gmap-polyline ng-repeat="p in home.map.polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>


            </ui-gmap-google-map>
        </div>
    <br><br><br>


        <form align="left" id="TnForm">
            Tracking number:<br>
            <input ng-model="home.tnumber" type="text" name="Tracking_number" value="" maxlength= "17" minlength= "17" size="20">
            <br><br>
            <button  ng-click="home.submit_click(home.tnumber)">Submit</button>
            <div class="alert alert-danger" ng-if="home.errorMsg">{{home.tnumber}} not found.</div>

        </form>
    <br><br>
        <form align="left" id="LsForm">
            Local Store near me<br>

            Post Code:<input ng-model="home.pcode" type="text" name="Post_code" value="" maxlength= "17" minlength= "17" size="20">
            <br><br>
            <button  ng-click="home.submit_pcode(home.pcode)">Submit</button>

            <div class="alert alert-danger" ng-if="home.errorMsg">{{home.pcode}} not found.</div>
            <br><br><br>
            City Name:<input ng-model="home.cityname" type="text" name="City_name" value="" maxlength= "17" minlength= "17" size="20">
            <br><br>
            <button  ng-click="home.submit_cityname(home.cityname)">Submit</button>
            <br>
            <div class="alert alert-danger" ng-if="home.errorMsg">{{home.cityname}} not found.</div>

        </form>

    </div>
</div><!-- /.container -->