<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">LOGO</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
    </ul>

    <div class="dropdown show">
        <a class="btn btn-success dropdown-toggle dropdown-toggle-split" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
            Login
        </a>

        <div class="dropdown-menu" style="right: 0; left: auto;">
            <a class="dropdown-item" href="/login" ng-click="main.asAnAdmin()">As Admin</a>
            <a class="dropdown-item" href="/login" ng-click="main.asAnEmpLs()">As Local Store Employee</a>
            <a class="dropdown-item" href="/login" ng-click="main.asAnAEmpTh()">As Transit Hub Employee</a>
        </div>
    </div>

</nav>

<div class="container jumbotron text-center">


    <div class="row">

        <div class="col-md-6">
            <h1><strong>Find Package</strong></h1>
            <hr>
            <form id="TnForm">

                <div class="form-group">
                    <label for="tNumber">Tracking Number:</label>
                    <input id="tNumber" class="form-control" placeholder="e.g. AL1504703541316IO" ng-model="home.tnumber" required>
                </div>

                <button class="btn bg-success" ng-click="home.submitTn(home.tnumber)">Submit</button>
                <br>
                <div class="alert alert-danger" ng-if="home.errorMsgTn">{{home.tnumber}} is not a valid Tracking Number.</div>

            </form>

            <br>

            <div ng-if="home.searchedPackage && home.searchedPackage.Hubs_Passed.length > 0">
                <h5>Hubs Passed</h5>
                <hr>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date Scanned</th>
                            <th>Transit Hub</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="loc in home.searchedPackage.Hubs_Passed">
                            <td>{{loc.Date}}</td>
                            <td>{{loc.Hub.Address.City}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>




        </div>

        <div class="col-md-6">
            <div  id="map_canvas">
                <ui-gmap-google-map center="home.map.center" zoom="home.map.zoom">

                    <ui-gmap-window show="home.map.window.show"
                                    coords="home.map.window.model"
                                    options="home.map.window.options"
                                    closeClick="home.map.window.closeClick()">
                        <div>
                            <b>City:</b> {{home.map.window.model.name}}
                            <br><b>Address: </b>{{home.map.window.model.street}}
                            {{home.map.window.model.number}}
                        </div>
                    </ui-gmap-window>

                    <ui-gmap-markers models="home.map.markers"
                                     coords="'self'"
                                     events="home.map.markersEvents"
                                     icon="'icon'"
                                     options="home.map.marker.options">
                    </ui-gmap-markers>

                    <ui-gmap-polyline ng-repeat="p in home.map.polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                      geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>


                </ui-gmap-google-map>
            </div>

            <div ng-if="!home.networkVisible" class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                <div class="btn-group" role="group">
                    <button class="btn bg-secondary" ng-click="home.viewNetwork()">View full network</button>
                </div>
            </div>
            <div ng-if="home.networkVisible" class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                <div class="btn-group" role="group">
                    <button class="btn bg-secondary" ng-click="home.hideNetwork()">Hide network</button>
                </div>
            </div>


        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-md-12">
            <h3><strong>Find Local Store</strong></h3>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h5>Closest to you</h5>
                    <hr>
                    <form id="pCodeForm">
                        <div class="form-group">
                            <label for="pCode">Your Post Code:</label>
                            <input id="pCode" class="form-control" placeholder="e.g. 26222" ng-model="home.pcode">
                        </div>

                        <button class="btn bg-default" ng-click="home.submit_pcode(home.pcode)">Submit</button>
                        <br>
                        <div class="alert alert-danger" ng-if="home.errorMsgCode">{{home.pcode}} not found.</div>
                    </form>
                </div>

                <div class="col-md-6">
                    <h5>Via city</h5>
                    <hr>
                    <form id="cityForm">
                        <div class="form-group">
                            <label for="cityIn" >City:</label>
                            <select id="cityIn" class="form-control" ng-model="home.cityId" required>
                                <option ng-repeat="city in home.localStores" value="{{city._id}}">{{city.Address.City}}</option>
                            </select>
                        </div>

                        <button class="btn bg-default" ng-click="home.submit_cityname(home.cityId)">Submit</button>
                        <br>
                        <div class="alert alert-danger" ng-if="home.errorMsgCity">{{home.cityname}} not found.</div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div><!-- /.container -->