<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">LOGO</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Welcome {{main.username}} <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <a class="btn btn-success" href="#" ng-click="main.logout()">Logout</a>
</nav>

<div class="container">
    <div class="page-header jumbtron text-center">
        <h1>Admin Control Panel</h1>
        <h5>Local Store CRUD, Local Employee CRUD, Transit Hub Employee CRUD go here...</h5>
    </div>

    <br>

    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" data-target="#lsTab">Local Stores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-target="#lsEmpTab">Local Store Employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-target="#thEmpTab">Transit Hub Employees</a>
        </li>
    </ul>

    <div class="tab-content">

        <div id="lsTab" class="tab-pane fade show active" ng-controller="adminCrudLsCtrl as crudLs" ng-include="'app/views/pages/admin/crudTabs/localStoreTab.html'">
        </div>
        <div id="lsEmpTab" class="tab-pane fade" ng-controller="adminCrudLsEmpCtrl as crudLsEmp" ng-include="'app/views/pages/admin/crudTabs/localStoreEmpTab.html'">
        </div>
        <div id="thEmpTab" class="tab-pane fade" ng-controller="adminCrudThEmpCtrl as crudThEmp" ng-include="'app/views/pages/admin/crudTabs/transitHubEmpTab.html'">
        </div>

    </div>



</div><!-- /.container -->