<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">LOGO</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Welcome {{main.username}} <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a class="btn btn-success" href="#" ng-click="main.logout()">Logout</a>
    </div>
</nav>

<div class="container">
    <div class="page-header jumbtron text-center">
        <h1>Local Store App</h1>
        <h3>You have logged in from {{pack.thisStore.Address.City}}</h3>
        <h5>Order creation with time and cost estimation, tracking num and QR code. Order track. Package received update</h5>

        <br>

        <div class="col-md-8">

            <div class="list-group pre-scrollable">
                <button type="button" class="list-group-item list-group-item-action" ng-repeat="p in pack.packages"
                        ng-click="pack.selectPackage(p)"
                        ng-class="{active: pack.isSelected(p)}">
                    <span>{{p.Tracking_Number}}</span>
                </button>
            </div>

            <ul class="list-group" ng-show="pack.selectedpackage">
                <li class="list-group-item" ng-repeat="loc in pack.selectedpackage.Hubs_Passed">
                    {{loc.Date}}:
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="h in loc.Hub">
                            {{h.Address.City}}
                        </li>
                    </ul>
                </li>
            </ul>

        </div>


        <div class="col-md-4">

            <form name="packageForm">

                <div class="form-group">
                    <label for="delivAdd" >Delivery To:</label>
                    <select id="delivAdd" class="form-control" ng-model="pack.packageToSave.Delivery_Address" required>
                        <option ng-repeat="city in pack.localStores | filter: '!' + pack.thisStore.Address.City"
                                value="{{city.Address.City}}">
                            {{city.Address.City}}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exp" >Express:</label>
                    <input id="exp" type="checkbox" class="form-control" ng-model="pack.packageToSave.Express" required>
                </div>







                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn bg-primary" style="color: white" ng-click="pack.calcPackageDetails()">Save</a>
                    <a href="#" class="btn bg-danger" style="background-color: crimson; color: white" ng-click="pack.cancelEdit()">Cancel</a>
                </div>

            </form>

            <div class="alert alert-success" ng-if="pack.successMsg">{{pack.successMsg}}</div>
            <div class="alert alert-danger" ng-if="pack.errorMsg">{{pack.errorMsg}}</div>

        </div>



    </div>
</div>