<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">LOGO</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Welcome {{main.username}} <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a class="btn btn-success" href="#" ng-click="main.logout()">Logout</a>
    </div>
</nav>

<div class="container">
    <div class="page-header jumbtron text-center">
        <h1>Local Store App</h1>
        <h5>Order creation with time and cost estimation, tracking num and QR code. Order track. Package received update</h5>
    </div>
</div>