<div class="container">

    <form class="form-signin" ng-submit="main.doLogin(loginData)">
        <h3 class="form-signin-heading">Παρακαλώ συνδεθείτε</h3>
        <label for="inputUsername" class="sr-only">Όνομα χρήστη</label>
        <input id="inputUsername" class="form-control" placeholder="Όνομα χρήστη" required autofocus ng-model="main.loginData.username">
        <label for="inputPassword" class="sr-only">Κωδικός πρόσβασης</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Κωδικός πρόσβασης" required ng-model="main.loginData.password">
        <button class="btn btn-lg btn-primary btn-block">Είσοδος</button>

        <br>

        <!--TODO: Success & error messages are not aligned with rest of elements, pls align...please-->
        <div>
            <div class="jumbotron text-center" ng-show="main.loading">
                <span class="fa fa-repeat spinner"></span>
                <p>Φόρτωση...</p>
            </div>

            <br>

            <div class="row show-hide-message" ng-show="main.successMsg">
                <div class="alert alert-success">{{main.successMsg}}</div>
            </div>

            <br>

            <div class="row show-hide-message" ng-show="main.errorMsg">
                <div class="alert alert-danger">{{main.errorMsg}}</div>
            </div>
        </div>
    </form>



</div> <!-- /container -->