<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">LOGO</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Welcome {{main.username}} <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <a class="btn btn-success" href="#" ng-click="main.logout()">Logout</a>
</nav>

<div class="container">
    <div class="page-header jumbtron text-center">
        <h1>Transit Hub Mobile App</h1>
        <h5>QR code scan and update package location in system</h5>

        <button ng-if="!qr.cameraRequested" class="btn btn-primary btn-lg btn-block" ng-click="qr.start()">Activate scanner</button>
        <button ng-if="qr.cameraRequested" class="btn btn-danger btn-lg btn-block" ng-click="qr.stop()">Stop scanner</button>

        <p ng-hide="qr.cameraRequested && !qr.cameraIsOn">Your browser should ask for permission to use the camera.</p>
        <div>
            <bc-qr-reader ng-if="qr.cameraRequested" active="qr.cameraRequested" on-result="qr.processURLfromQR" on-error="onError" camera-status="qr.cameraIsOn" width="200px" height="200px"></bc-qr-reader>
        </div>

        <p ng-show="qr.url">QR code detected!</p>
        <p><b>{{ qr.url }}</b></p>


    </div>
</div>